# Ex1 - Filtering and Sorting Data

### Step 1. Import library

In [1]:
import pandas as pd

### Step 2. Import the dataset chipotle.ts

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('../data/chipotle.tsv', sep = '\t')

### Step 4. How many products cost more than $10.00?

In [3]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))
chipo[chipo['item_price'] > 10].shape[0]

1130

### Step 5. What is the price of each item? 
print a data frame with only two columns item_name and item_price

In [4]:
chipo[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [5]:
chipo.sort_values(by='item_name', inplace=True)

### Step 7. What was the quantity of the most expensive item ordered?

In [6]:
chipo.loc[chipo['item_price'].idxmax(), 'quantity']

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [7]:
chipo[chipo['item_name'] == 'Veggie Salad Bowl'].shape[0]

18

### Step 9. How many times did someone order more than one Canned Soda?

In [8]:
chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]

20